#overflow{
    background-color: whitesmoke;
    border: 1px solid red;
    width: 500px;
    height: 300px;
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow-x: hidden;
    overflow-y: scroll; */
    overflow: auto;
    resize: both;
    /* resize: horizontal; */
    /* resize: vertical; */
}
/* textarea{
    resize: none;
} */
